*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

body {
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

img {
  vertical-align: middle;
}

blockquote, dl, dd, h1, h2, h3, h4, h5, h6, figure, p, pre, fieldset, ul, ol, menu, form {
  margin: 0;
}

button, fieldset, iframe {
  border: 0;
}

fieldset, ul, ol, button, menu {
  padding: 0;
}

ol, ul {
  	list-style: none;
}

textarea {
  resize: vertical;
}

table {
	text-align: center;
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  padding: 0;
}

.move-options th,.move-options td {
		padding: 10px;
    font-size: 20px;
    font-weight: 400;
    color: var(--white);
    letter-spacing: 0.05em;
}

.move-options h3 {
	padding-bottom: 10px;
    padding-top: 10px;
}

:root {
	--bg:#515B70;
	--bg-secondry:#414959;
	--primary-color:#B2C6EE;
	--secondry-color:#6B768C;
	--red:#FF9797;
	--green:#B3FFA7;
	--white: #fff;
	--border-default: 2px solid var(--secondry-color);
	--header-height: 50px;
	--size: 350px;
	--link:#B3FFA7;

}


* {
	margin:0;
	padding:0;
	font-family: 'Geometria',sans-serif;
}

a {
	text-decoration: none;
	color: var(--link);
}

body {
	background:var(--bg);
	padding: 15px;
	color: var(--white);
}

main {
	display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

header,header ul {
	display: flex;
	flex-direction: row;
	gap: 15px;
}

header {
	justify-content: space-between;
	margin-bottom: 15px;
}


.line {
	width: 100%;
	height: 1px;
	background: var(--primary-color);
}



#markdown-en #markdown-ru ul {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 3px;
}

.topnav #icon {
	display: none;
	width: 16px;
	height: 16px;
	background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%221em%22%20height%3D%221em%22%20preserveAspectRatio%3D%22xMidYMid%20meet%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cg%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M4%206h16M4%2012h16M4%2018h16%22%20stroke%3D%22%23b2c6ee%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
}

.icon-close {
	background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%221em%22%20height%3D%221em%22%20preserveAspectRatio%3D%22xMidYMid%20meet%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cg%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M6.225%204.811a1%201%200%200%200-1.414%201.414L10.586%2012L4.81%2017.775a1%201%200%201%200%201.414%201.414L12%2013.414l5.775%205.775a1%201%200%200%200%201.414-1.414L13.414%2012l5.775-5.775a1%201%200%200%200-1.414-1.414L12%2010.586L6.225%204.81z%22%20fill%3D%22%23b2c6ee%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E') !important;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a#icon {
    float: right;
    display: flex;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative; flex-direction: column;}
  header ul {flex-direction: column;}
  .topnav.responsive #icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: flex;
    text-align: left;
  }
}

.layer-flex {display: flex;}
.layer-none {display: none;}

#swtich-btn {
		cursor: pointer;
    width: fit-content;
    background: var(--bg-secondry);
    border: var(--border-default);
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 14px;
    padding: 3px;
    color: var(--white);
}